<div class="page-animate">
    <section class="home-testimonial">
        <div class="container-fluid px-0">
            <div class="testimonial-pos text-center inner-slide-animate-down">
                <img height="250" width="250" src="../../assets/images/logo_tudo_facil_branco.png"
                    alt="Logo Tudo Fácil">
                <h1 class="mb-3">Testemunhos</h1>
                <h4>Veja as opniões de clientes satisfeitos com nossos serviços</h4>
            </div>
            <section class="home-testimonial-bottom">
                <div class="container testimonial-inner">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6 col-xl-4 style-3 mb-4">
                            <div class="tour-item ">
                                <div class="tour-desc bg-white">
                                    <div class="tour-text text-center">"Eu assino o pacote de serviços
                                        domésticos há dois meses e estou muito feliz com os serviços prestados pela
                                        Tudo Fácil. Eles deixam minha casa brilhando e cheirosa, fazem a
                                        lavanderia, a passam a roupa e arrumam a cozinha. Eles são muito caprichosos e
                                        pontuais. Eu recomendo."</div>
                                    <div class="d-flex justify-content-center py-3"><img class="tm-people"
                                            src="../../assets/images/references/maria.jpg"
                                            alt=""></div>
                                    <div class="d-flex justify-content-center">Maria</div>
                                    <div class="d-flex justify-content-center">28 anos</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 style-3 mb-4">
                            <div class="tour-item ">
                                <div class="tour-desc bg-white">
                                    <div class="tour-text text-center">"Tenho o pacote de serviços de manutenção há
                                        quatro meses e estou muito satisfeito com os serviços prestados pela empresa.
                                        Eles fazem todos os tipos de reparos e instalações que eu preciso, com
                                        qualidade e rapidez. Eles também fornecem os materiais necessários e cobram um
                                        preço justo. A Tudo Fácil é uma empresa que eu recomendo. </div>
                                    <div class="d-flex justify-content-center py-3"><img class="tm-people"
                                            src="../../assets/images/references/pedro.jpg"
                                            alt=""></div>
                                    <div class="d-flex justify-content-center">Pedro</div>
                                    <div class="d-flex justify-content-center">35 anos</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 style-3 mb-4">
                            <div class="tour-item ">
                                <div class="tour-desc bg-white">
                                    <div class="tour-text text-center">"Eu assino o pacote de serviços de assistência
                                        pessoal na Tudo Fácil e eles me ajudam a fazer as compras, os recados, as
                                        entregas e as reservas que eu preciso. Eles são muito eficientes e confiáveis.
                                        Eu estou muito satisfeito."</div>
                                    <div class="d-flex justify-content-center py-3"><img class="tm-people"
                                            src="../../assets/images/references/luis.webp"
                                            alt=""></div>
                                    <div class="d-flex justify-content-center">Maurílio</div>
                                    <div class="d-flex justify-content-center">42 anos</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 style-3 mb-4">
                            <div class="tour-item ">
                                <div class="tour-desc bg-white">
                                    <div class="tour-text text-center">"Eu assino o pacote para idosos há seis meses e
                                        estou muito satisfeita com os serviços prestados pela Tudo Fácil. Eles
                                        cuidam da minha casa com carinho e eficiência, fazem as compras que eu preciso,
                                        me ajudam a marcar consultas médicas e me entregam os remédios na porta. Eu me
                                        sinto mais tranquila e segura com essa ajuda." </div>
                                    <div class="d-flex justify-content-center py-3"><img class="tm-people"
                                            src="../../assets/images/references/euripeda.jpeg"
                                            alt=""></div>
                                    <div class="d-flex justify-content-center">Eurípeda</div>
                                    <div class="d-flex justify-content-center">72 anos</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 style-3 mb-4">
                            <div class="tour-item ">
                                <div class="tour-desc bg-white">
                                    <div class="tour-text text-center">"Eu assino o pacote para famílias há um ano e não
                                        me arrependo. A Tudo Fácil me poupa tempo e trabalho, deixando minha
                                        casa sempre limpa, organizada e bem cuidada. Eles também fazem a comida, passam
                                        as roupas e cuidam do jardim. Além disso, eles são muito atenciosos e resolvem
                                        qualquer problema de manutenção que aparece. Eu recomendo."</div>
                                    <div class="d-flex justify-content-center py-3"><img class="tm-people"
                                            src="../../assets/images/references/ana_paula.png"
                                            alt=""></div>
                                    <div class="d-flex justify-content-center">Ana Paula</div>
                                    <div class="d-flex justify-content-center">38 anos</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 style-3 mb-4">
                            <div class="tour-item ">
                                <div class="tour-desc bg-white">
                                    <div class="tour-text text-center">"Eu assino o pacote para empresas há três meses e
                                        estou muito satisfeito com os serviços prestados pela Tudo Fácil. Eles
                                        cuidam da limpeza e organização do meu escritório, fazem as entregas e reservas
                                        que eu preciso, me ajudam a pagar as contas e a fazer a contabilidade. Eles são
                                        muito profissionais e competentes. Eu recomendo." </div>
                                    <div class="d-flex justify-content-center py-3"><img class="tm-people"
                                            src="../../assets/images/references/marcos.jpg"
                                            alt=""></div>
                                    <div class="d-flex justify-content-center">Marcílio</div>
                                    <div class="d-flex justify-content-center">45 anos</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>