<div class="page-animate">
  <div class="container-fluid px-0">
    <div class="home-testimonial">
      <div class="testimonial-pos text-center inner-slide-animate-down mx-1">
        <img height="250" width="250" src="../../assets/images/logo_tudo_facil_branco.png" alt="Logo Tudo Fácil">
        <h1 class="mb-3">Perguntas Frequentes</h1>
        <h4>Tire suas dúvidas em relação aos nossos serviços</h4>
      </div>
    </div>

    <div class="container mt-4 mb-5">
      <div class="accordion" id="perguntas">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <strong>Quais são os serviços prestados?</strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#perguntas">
            <div class="accordion-body">
              A Tudo Fácil é uma empresa que faz tudo o que o cliente precisa, desde serviços domésticos, de manutenção
              e de assistência pessoal até serviços de apoio profissional, de lazer e de bem-estar. Os serviços
              prestados pela empresa Tudo Fácil são:
              <br><br>
              <ul>
                <li>
                  <strong>Serviços domésticos:</strong> incluem limpeza, organização, lavanderia, passadoria, cozinha e
                  jardinagem. Os
                  profissionais da Tudo Fácil deixam a casa do cliente brilhando e cheirosa, fazem a lavanderia, passam
                  as roupas e cozinham deliciosas refeições. Eles também cuidam do jardim, podando as plantas, regando
                  as flores e cortando a grama.
                </li>
                <li>
                  <strong>Serviços de manutenção:</strong> incluem reparos, instalações, pintura, elétrica, hidráulica,
                  marcenaria e
                  serralheria. Os profissionais da Tudo Fácil fazem todos os tipos de reparos e instalações que o
                  cliente precisa, com qualidade e rapidez. Eles também fornecem os materiais necessários e cobram um
                  preço justo.
                </li>
                <li>
                  <strong>Serviços de assistência pessoal:</strong> incluem compras, recados, entregas, reservas,
                  agendamentos e
                  pagamentos. Os profissionais da Tudo Fácil ajudam o cliente a fazer as compras que ele precisa, a
                  levar ou
                  buscar documentos ou encomendas, a fazer reservas em restaurantes ou hotéis, a agendar consultas
                  médicas
                  ou serviços diversos e a pagar as contas em dia. Eles são eficientes e confiáveis.
                </li>
                <li>
                  <strong>Serviços de apoio profissional:</strong> incluem contabilidade, administração, marketing e
                  consultoria. Os
                  profissionais da Tudo Fácil ajudam o cliente a cuidar do seu negócio, fazendo a contabilidade, a
                  administração, o marketing e a consultoria que ele precisa. Eles são competentes e responsáveis.
                </li>
                <li>
                  <strong>Serviços de lazer:</strong> incluem passeios turísticos, eventos culturais, esportes e
                  hobbies. Os
                  profissionais
                  da Tudo Fácil ajudam o cliente a aproveitar o seu tempo livre, organizando passeios turísticos pela
                  cidade
                  ou pelo campo, levando-o a eventos culturais como shows, teatros ou cinemas, praticando esportes como
                  futebol, tênis ou natação ou ensinando hobbies como música, pintura ou fotografia. Eles são divertidos
                  e simpáticos.
                </li>
                <li>
                  <strong>Serviços de bem-estar:</strong> incluem massagem, yoga, meditação e terapia. Os profissionais
                  da Tudo Fácil
                  ajudam o cliente a cuidar da sua saúde física e mental, oferecendo massagens relaxantes ou
                  terapêuticas,
                  aulas de yoga ou pilates, sessões de meditação ou mindfulness e terapias individuais ou em grupo. Eles
                  são gentis e acolhedores.
                </li>
              </ul>
              <a routerLink="/servicos">Clique aqui e saiba mais sobre os serviços prestados</a>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <strong>Quais são as formas de contratação dos serviços?</strong>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#perguntas">
            <div class="accordion-body">
              Existem duas formas de contratação dos serviços: através de assinatura mensal ou de atendimentos através
              de pagamentos avulsos.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <strong>Como funcionam os pacotes de assinatura?</strong>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#perguntas">
            <div class="accordion-body">
              Existem pacotes de assinaturas divididos por tipo de serviço prestado (serviços domésticos, manutenção,
              etc) e também existem pacotes divididos por público-alvo (idosos, famílias, empresas, etc).
              <br>
              Todos os tipos de pacotes são divididos em 3 níveis: Básico, Intermediário, Avançado.
              <br><br>
              Obs: Os clientes que contratarem um pacote de assinatura mensal, terão prioridade no
              atendimento.
              <br><br>
              <a routerLink="/planos">Clique aqui e saiba mais sobre os planos disponiveis</a>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <strong>O que fazer caso nenhum dos pacotes disponíveis atenda minhas necessidades?</strong>
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#perguntas">
            <div class="accordion-body">
              Caso haja a necessidade por parte do cliente, poderão ser elaborados planos de assinatura
              <strong>personalizados</strong>.
              Além disso, os atendimentos sempre podem ser feitos de forma avulsa e clientes que assinam algum plano de
              assinatura tem preços especiais nesse tipo de atendimento.
              <br><br>
              <a routerLink="/fale-conosco">Clique aqui e entre em contato conosco para avaliarmos a realização de um
                plano personalizado</a>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <strong>Existem limites para atendimentos nos planos oferecidos?</strong>
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#perguntas">
            <div class="accordion-body">
              Todos os planos de assinaturas têm um limite de atendimentos mensal, dependendo do nível contratado. Caso
              um cliente com assinatura mensal atinja o limite de atendimentos definido na assinatura, ele pode
              solicitar serviços para pagamento de forma avulsa.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <strong>Como funcionam os atendimentos?</strong>
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
            data-bs-parent="#perguntas">
            <div class="accordion-body">
              Os atendimentos dos clientes mensalistas podem ter datas e horários fixos de forma mensal/semanal ou serem
              feitos de acordo com a demanda. Para os atendimentos avulsos, eles poderão ser feitos de acordo com a
              agenda disponível.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              <strong>Quais são as formas de pagamento disponíveis?</strong>
            </button>
          </h2>
          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
            data-bs-parent="#perguntas">
            <div class="accordion-body">
              O pagamento pode ser feito via cartão de crédito, cartão de débito, boleto bancário e PIX, independente da
              forma da contratação do serviço (mensal ou avulso).
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              <strong>O que acontece se eu atrasar o pagamento da mensalidade da assinatura?</strong>
            </button>
          </h2>
          <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
            data-bs-parent="#perguntas">
            <div class="accordion-body">
              No caso dos clientes que são mensalistas, se o pagamento da mensalidade estiver em atraso eles terão até
              15 dias para realizar a regularização. Após esse prazo o serviço será suspenso.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              <strong>E se eu precisar de um serviço que os profissionais da Tudo Fácil não realizam?</strong>
            </button>
          </h2>
          <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
            data-bs-parent="#perguntas">
            <div class="accordion-body">
              Atender a necessidade do cliente é sempre uma prioridade, por isso serviços que fujam das abrangências das
              áreas definidas podem ser contratados após análise de viabilidade e serão executados, caso aprovados,
              apenas através de pagamento avulso.
              <br><br>
              <a routerLink="/fale-conosco">Clique aqui e entre em contato conosco para avaliarmos a realização de um
                atendimento personalizado</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>