<div class="page-animate">

    <section class="home-testimonial">
        <div class="testimonial-pos text-center inner-slide-animate-down mx-1">
            <img height="250" width="250" src="../../assets/images/logo_tudo_facil_branco.png" alt="Logo Tudo Fácil">
            <h1 class="mb-3">Sobre Nós</h1>
            <h4>Conheça mais sobre a história de nossa empresa</h4>
        </div>
        <section class="home-testimonial-bottom">
            <div class="container testimonial-inner body-site p-5">
                <div class="row">
                    <div class="col-12 col-lg-6 p-4 text-center align-self-center">
                        <img class="w-50" src="../../assets/images/about/marcos_fundador.jpg"
                            alt="Marcos Fundador Tudo Fácil" style="border-radius: 250px;">
                        
                        <p class="h3 mt-3">Marcos Freitas</p>
                        <p class="h5 mt-1">Fundador</p>
                    </div>
                    <div class="col-12 col-lg-6 p-4 text-center align-self-center">
                        <img class="w-50" src="../../assets/images/about/luis_fundador.jpg"
                            alt="Luis Fundador Tudo Fácil" style="border-radius: 250px;">
                        
                        <p class="h3 mt-3">Luis Garibaldi</p>
                        <p class="h5 mt-1">Fundador</p>
                    </div>
                </div>
                
                <p class="lead">
                    A Tudo Fácil nasceu da ideia de dois amigos, Marcos e Luís, que perceberam que muitas pessoas
                    precisavam de ajuda para cuidar da sua casa, do seu negócio ou da sua vida pessoal. Eles viram que
                    havia uma demanda por serviços variados, mas que era difícil encontrar profissionais ou empresas que
                    oferecessem todos os serviços em um só lugar, com qualidade, confiança e preço justo.
                </p>

                <p class="lead">
                    Foi então que eles decidiram criar a Tudo Fácil, uma empresa que faz tudo o que o cliente precisa,
                    desde serviços domésticos, de manutenção e de assistência pessoal até serviços de apoio
                    profissional, de lazer e de bem-estar. Eles contrataram profissionais qualificados, experientes e
                    comprometidos com a satisfação do cliente, e criaram pacotes mensais que oferecem vantagens e
                    descontos especiais.
                </p>

                <p class="lead">
                    A missão da Tudo Fácil é facilitar a vida das pessoas, oferecendo serviços variados em um só lugar,
                    com qualidade, confiança e preço justo. A visão da Tudo Fácil é ser reconhecida como a melhor
                    empresa que faz tudo do mercado. Os valores da Tudo Fácil são: respeito, responsabilidade,
                    excelência, inovação e satisfação do cliente.
                </p>

            </div>
        </section>
    </section>
</div>