<div class="container body-site" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="p-5 text-center">
        <h1>Website para apresentação dos serviços da empresa Tudo Fácil</h1>
        <br><br>

        <p><strong>Objetivo do Projeto:</strong></p>
        <ul>
            <li>
                Desenvolver website para apresentação dos serviços prestados pela empresa fictícia "Tudo Fácil"
            </li>
        </ul> 

        <br><br>

        <p><strong>Ferramentas Utilizadas:</strong></p>
        <ul>
            <li>
                Desenvolvido através do framework de desenvolvimento web Angular, utilizando conceitos de SPA (Single Page Application).
            </li>
            <li>
                O Bootstrap foi utilizado como framework de estilos.
            </li>
        </ul>    

        <br><br>

        <p><strong>Inovação Proposta:</strong></p>
        <ul>
            <li>
                Realizar a inserção digital da empresa com uma aplicação moderna e responsiva
            </li>
        </ul> 
    </div>
</div>