<div *ngIf="router.url !== '/cadastro'" class="nav-header">
  <header class="d-flex flex-wrap justify-content-center py-3 border-bottom nav-site">
    <a routerLink="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
      <img class="px-2" height="40" src="../assets/images/logo_horizontal_tudo_facil.png" alt="Logo Tudo Fácil">
    </a>

    <!--<button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>-->

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page" class="nav-link">
          Página Inicial
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/servicos" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Serviços</a>
      </li>
      <li class="nav-item">
        <a routerLink="/planos" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Planos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/testemunhos" routerLinkActive="active" ariaCurrentWhenActive="page"
          class="nav-link">Testemunhos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/sobre" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Sobre Nós</a>
      </li>
      <li class="nav-item">
        <a routerLink="/faq" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">FAQ</a>
      </li>
      <li class="nav-item">
        <a routerLink="/fale-conosco" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Fale
          Conosco</a>
      </li>
    </ul>
  </header>

  <nav class="navbar fixed-bottom navbar-light bg-light">
    <!--<span class="mx-auto" style="color: var(--bs-link-color);">&copy;2023 - Tudo Fácil</span>-->
    <a href="" class="mx-auto" style="color: var(--bs-link-color);" data-bs-toggle="modal"
      data-bs-target="#exampleModal">&copy;2023 - Tudo Fácil</a>
  </nav>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!--<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>-->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-5 text-center">
          <img height="130" width="130" src="../../assets/images/logo_tudo_facil.png" alt="Logo Tudo Fácil">
          <br>
          <p class="h5">Fontes de Imagens e Ícones</p>
          <div class="row">
            <a href="https://www.flaticon.com/br/icones-gratis/empregada" target="_blank" title="empregada ícones">Empregada ícones
              criados por Freepik - Flaticon</a>
            <br>
            <a href="https://www.flaticon.com/br/icones-gratis/eletricista" target="_blank" title="eletricista ícones">Eletricista ícones
              criados por Freepik - Flaticon</a>
            <br>
            <a href="https://www.flaticon.com/br/icones-gratis/secretario" target="_blank" title="secretário ícones">Secretário ícones
              criados por Freepik - Flaticon</a>
            <br>
            <a href="https://www.flaticon.com/br/icones-gratis/fotografo" target="_blank" title="fotografo ícones">Fotografo ícones
              criados por Freepik - Flaticon</a>
            <br>
            <a href="https://www.flaticon.com/br/icones-gratis/gerente" target="_blank" title="gerente ícones">Gerente ícones criados por
              Freepik - Flaticon</a>
            <br>
            <a href="https://www.flaticon.com/br/icones-gratis/velho" target="_blank" title="velho ícones">Velho ícones criados por
              Freepik - Flaticon</a>
            <br>
            <a href="https://www.flaticon.com/br/icones-gratis/mae" target="_blank" title="mãe ícones">Mãe ícones criados por Freepik -
              Flaticon</a>
            <br>
            <a href="https://www.flaticon.com/br/icones-gratis/companhia" target="_blank" title="companhia ícones">Companhia ícones
              criados por Freepik - Flaticon</a>
            <br>
            <a target="_blank"
              href="https://br.freepik.com/fotos-gratis/homem-de-negocios-com-os-bracos-cruzados-e-sorrindo_989096.htm#query=homem%20empresario&position=2&from_view=keyword&track=ais">Imagem
              de javi_indy no Freepik</a>
            <br>
            <a target="_blank"
              href="https://br.freepik.com/fotos-gratis/homem-de-negocios-proprietario-da-empresa-no-escritorio_5495095.htm#query=homem%20empresario&position=3&from_view=keyword&track=ais">Imagem
              de senivpetro no Freepik</a>
          </div>
          
        </div>
        <!--<div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>-->
      </div>
    </div>
  </div>

  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
        <a class="nav-item nav-link disabled" href="#">Disabled</a>
      </div>
    </div>
  </nav> -->
</div>

<!-- A PARTIR DAQUI SERÁ EXIBIDO O ROUTER -->
<div *ngIf="router.url !== '/cadastro'">
  <router-outlet></router-outlet>
</div>

<div *ngIf="router.url == '/cadastro'" class="d-flex justify-content-center" style="height: 100%">
  <div class="d-flex flex-column align-self-center">
    <h1 class="display-1 align-self-center">
      <i class="bi bi-hammer"></i> EM CONSTRUÇÃO
    </h1>
    <br />
    <button type="button" class="btn btn-primary btn-lg align-self-center" routerLink="/">
      Voltar à Página Inicial
    </button>
  </div>
</div>