<div class="m-4">
    <div class="container-fluid testimonial-inner body-site p-5">
        <div class="row">
            <div class="col-12 col-lg-6 mb-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2>Assinaturas</h2>
                    </div>

                    <div class="col-12 text-center mt-5">
                        <h4>Sem assinatura vigente</h4>
                    </div>

                    <div class="col-12 text-center mt-5">
                        <button routerLink="/sys-tf/assinatura" class="btn btn-primary">Nova assinatura</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-3">
                <div class="text-center">
                    <h2>Planos Disponíveis</h2>
                </div>
                <div class="row overflow-auto planos">
                    
                    <div id="domesticos" class="col-12 p-4 my-2 plano">
                        <div class="row text-center">
                            <!-- <div class="col-12 col-lg-4 mb-4">
                                <img src="../../assets/images/icons/empregada_color.png" height="100" width="100">
                            </div> -->
                            <div class="col-12 my-auto">
                                <h4>Pacote de serviços domésticos</h4>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-lg-3 mb-0 text-center">
                            <div class="col mt-4">
                                <div class="card rounded-3">
                                    <div class="card-header py-3">
                                        <h5 class="my-0 fw-normal">Básico</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title pricing-card-title">R$ 100,00<small
                                                class="text-muted fw-light">/mês</small>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card mt-4 rounded-3">
                                    <div class="card-header py-3">
                                        <h5 class="my-0 fw-normal">Intermediário</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title pricing-card-title">R$ 180,00<small
                                                class="text-muted fw-light">/mês</small>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card mt-4 rounded-3">
                                    <div class="card-header py-3">
                                        <h5 class="my-0 fw-normal">Avançado</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title pricing-card-title">R$ 320,00<small
                                                class="text-muted fw-light">/mês</small>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="domesticos" class="col-12 p-4 my-2 plano">
                        <div class="row text-center">
                            <!-- <div class="col-12 col-lg-4 mb-4">
                                <img src="../../assets/images/icons/empregada_color.png" height="100" width="100">
                            </div> -->
                            <div class="col-12 my-auto">
                                <h4>Pacote de serviços domésticos</h4>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-lg-3 mb-0 text-center">
                            <div class="col mt-4">
                                <div class="card rounded-3">
                                    <div class="card-header py-3">
                                        <h5 class="my-0 fw-normal">Básico</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title pricing-card-title">R$ 100,00<small
                                                class="text-muted fw-light">/mês</small>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card mt-4 rounded-3">
                                    <div class="card-header py-3">
                                        <h5 class="my-0 fw-normal">Intermediário</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title pricing-card-title">R$ 180,00<small
                                                class="text-muted fw-light">/mês</small>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card mt-4 rounded-3">
                                    <div class="card-header py-3">
                                        <h5 class="my-0 fw-normal">Avançado</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title pricing-card-title">R$ 320,00<small
                                                class="text-muted fw-light">/mês</small>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="domesticos" class="col-12 p-4 my-2 plano">
                        <div class="row text-center">
                            <!-- <div class="col-12 col-lg-4 mb-4">
                                <img src="../../assets/images/icons/empregada_color.png" height="100" width="100">
                            </div> -->
                            <div class="col-12 my-auto">
                                <h4>Pacote de serviços domésticos</h4>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-lg-3 mb-0 text-center">
                            <div class="col mt-4">
                                <div class="card rounded-3">
                                    <div class="card-header py-3">
                                        <h5 class="my-0 fw-normal">Básico</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title pricing-card-title">R$ 100,00<small
                                                class="text-muted fw-light">/mês</small>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card mt-4 rounded-3">
                                    <div class="card-header py-3">
                                        <h5 class="my-0 fw-normal">Intermediário</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title pricing-card-title">R$ 180,00<small
                                                class="text-muted fw-light">/mês</small>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card mt-4 rounded-3">
                                    <div class="card-header py-3">
                                        <h5 class="my-0 fw-normal">Avançado</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title pricing-card-title">R$ 320,00<small
                                                class="text-muted fw-light">/mês</small>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="domesticos" class="col-12 p-4 my-2 plano">
                        <div class="row text-center">
                            <!-- <div class="col-12 col-lg-4 mb-4">
                                <img src="../../assets/images/icons/empregada_color.png" height="100" width="100">
                            </div> -->
                            <div class="col-12 my-auto">
                                <h4>Pacote de serviços domésticos</h4>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-lg-3 mb-0 text-center">
                            <div class="col mt-4">
                                <div class="card rounded-3">
                                    <div class="card-header py-3">
                                        <h5 class="my-0 fw-normal">Básico</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title pricing-card-title">R$ 100,00<small
                                                class="text-muted fw-light">/mês</small>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card mt-4 rounded-3">
                                    <div class="card-header py-3">
                                        <h5 class="my-0 fw-normal">Intermediário</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title pricing-card-title">R$ 180,00<small
                                                class="text-muted fw-light">/mês</small>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card mt-4 rounded-3">
                                    <div class="card-header py-3">
                                        <h5 class="my-0 fw-normal">Avançado</h5>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title pricing-card-title">R$ 320,00<small
                                                class="text-muted fw-light">/mês</small>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>