<!--<div class="body-site">
  <p>home-page works!</p>

  <div>
    <button
      type="button"
      class="btn btn-primary btn-lg align-self-center"
      routerLink="/cadastro"
    >
      Ir Para Cadastro
    </button>
  </div>
</div>-->
<div class="mb-5">
  <div id="slidesHomePage" class="carousel slide inicial-animate" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#slidesHomePage" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#slidesHomePage" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#slidesHomePage" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#slidesHomePage" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#slidesHomePage" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#slidesHomePage" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item slide-animate active">
        <div class="row row-slider" style="background-image: url('../../assets/images/back_slide_2.jpg');">
          <div class="inner-slide-animate-down h-75 col-12 col-md-4 col-xl-3 offset-md-1 offset-xl-2 align-self-center">
            <img class="mh-100 w-auto" src="../../assets/images/logo_icones_tudo_facil.png" alt="Logo Tudo Fácil">
          </div>

          <div class="inner-slide-animate-up col-12 offset-md-2 offset-lg-1 col-md-4 col-lg-5 align-self-center">
            <h1>A solução que você precisa para o seu dia a dia</h1>
          </div>

        </div>
        <!--<div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>-->
      </div>
      <div class="carousel-item slide-animate">
        <div class="row row-slider" style="background-image: url('../../assets/images/back_slide_1.jpg');">
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item slide-animate">
        <div style="background-color: green; height: 450px; background-size: cover;"></div>
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item slide-animate">
        <div style="background-color: blue; height: 450px; background-size: cover;"></div>
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item slide-animate">
        <div style="background-color: violet; height: 450px; background-size: cover;"></div>
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item slide-animate">
        <div style="background-color: lightcoral; height: 450px; background-size: cover;"></div>
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#slidesHomePage" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#slidesHomePage" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>