<!--<div class="body-site">
  <p>home-page works!</p>

  <div>
    <button
      type="button"
      class="btn btn-primary btn-lg align-self-center"
      routerLink="/cadastro"
    >
      Ir Para Cadastro
    </button>
  </div>
</div>-->
<div class="mb-5">
  <div id="slidesHomePage" class="carousel slide inicial-animate" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#slidesHomePage" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <!--<button type="button" data-bs-target="#slidesHomePage" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#slidesHomePage" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#slidesHomePage" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#slidesHomePage" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#slidesHomePage" data-bs-slide-to="5" aria-label="Slide 6"></button>-->
    </div>
    <div class="carousel-inner">
      <div class="carousel-item slide-animate active">
        <div class="row row-slider" style="background-image: url('../../assets/images/back_slide_2.jpg');">
          <div class="inner-slide-animate-down h-75 col-12 col-md-4 col-xl-3 offset-md-1 offset-xl-2 align-self-center">
            <img class="mh-100 w-auto" src="../../assets/images/logo_icones_tudo_facil.png" alt="Logo Tudo Fácil">
          </div>

          <div class="inner-slide-animate-up col-12 offset-md-2 offset-lg-1 col-md-4 col-lg-5 align-self-center">
            <h1 class="featurette-heading-slide">A solução que você precisa para o seu dia a dia</h1>
          </div>

        </div>
        <!--<div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>-->
      </div>
      <!--<div class="carousel-item slide-animate">
        <div class="row row-slider" style="background-image: url('../../assets/images/back_slide_1.jpg');">
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item slide-animate">
        <div style="background-color: green; height: 450px; background-size: cover;"></div>
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item slide-animate">
        <div style="background-color: blue; height: 450px; background-size: cover;"></div>
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item slide-animate">
        <div style="background-color: violet; height: 450px; background-size: cover;"></div>
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item slide-animate">
        <div style="background-color: lightcoral; height: 450px; background-size: cover;"></div>
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>-->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#slidesHomePage" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#slidesHomePage" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="container marketing body-site px-5 pt-5 my-5">

    <!-- START THE FEATURETTES -->

    <!--<hr class="featurette-divider">-->

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Tenha acesso a uma variedade de serviços <span class="primary-color">em um só
            lugar.</span></h2>
        <p class="lead">Somos uma empresa que faz tudo o que você precisa, desde serviços domésticos, de manutenção e de
          assistência pessoal até serviços de apoio profissional, de lazer e de bem-estar.</p>
      </div>
      <div class="col-md-5 text-center align-self-center">
        <img class="w-75" src="../../assets/images/icones_home_page.png" alt="Icones Serviços Tudo Fácil">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Conte com <span class="primary-color">profissionais qualificados.</span></h2>
        <p class="lead">Na Tudo Fácil, você encontra profissionais qualificados, experientes e comprometidos com a sua
          satisfação, que realizam os serviços com qualidade e responsabilidade.</p>
      </div>
      <div class="col-md-5 order-md-1 text-center align-self-center">
        <img class="w-75" src="../../assets/images/workers_home_page.jpg" alt="Trabalhadores Tudo Fácil" style="border-radius: 250px;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette mb-5">
      <div class="col-md-7">
        <h2 class="featurette-heading">Não perca tempo e entre em contato conosco <span class="primary-color">agora
            mesmo!</span></h2>
        <p class="lead">Faça um orçamento sem compromisso e descubra como a Tudo Fácil pode facilitar a sua vida,
          cuidando de tudo e levando os serviços até você</p>
      </div>
      <div class="col-md-5 text-center align-self-center">
        <img class="w-75" src="../../assets/images/deal_home_page.jpg" alt="Acordo Tudo Fácil" style="border-radius: 250px;">
      </div>
    </div>

     <!-- Three columns of text below the carousel -->
     <div class="row py-5 mb-5">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle mb-3" width="140" height="140" src="../../assets/images/planos_home_page.jpg" alt="Planos Tudo Fácil">

        <h2>Planos</h2>
        <p>Conheça nossos planos e veja qual se adequa a você</p>
        <p><a class="btn btn-primary" routerLink="/planos">Veja detalhes</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle mb-3" width="140" height="140" src="../../assets/images/testemunho_home_page.jpg" alt="Testemunhos Tudo Fácil">

        <h2>Testemunhos</h2>
        <p>Veja as opniões de clientes satisfeitos com nossos serviços</p>
        <p><a class="btn btn-primary" routerLink="/testemunhos">Veja detalhes</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle mb-3" width="140" height="140" src="../../assets/images/fale_home_page.jpg" alt="Testemunhos Tudo Fácil">

        <h2>Fale Conosco</h2>
        <p>Fale conosco e nos ajude a encontrar a melhor solução para a sua rotina</p>
        <p><a class="btn btn-primary" routerLink="/fale-conosco">Veja detalhes</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <!-- /END THE FEATURETTES -->
  </div>
</div>