<div class="page-animate">
    <div class="home-testimonial">
        <div class="testimonial-pos text-center inner-slide-animate-down mx-1">
            <img height="250" width="250" src="../../assets/images/logo_tudo_facil_branco.png" alt="Logo Tudo Fácil">
            <h1 class="mb-3">Planos Ofertados</h1>
            <h4>Saiba tudo sobre nossos planos disponíveis para assinatura</h4>
        </div>
    </div>

    <section class="home-testimonial-bottom">
        <div class="container testimonial-inner">
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Básico</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">R$ 100,00<small class="text-muted fw-light">/mês</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>2 horas de serviço por semana</li>
                                <li>1 profissional</li>
                                <!--<li>Email support</li>
                                <li>Help center access</li>-->
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Intermediário</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">R$ 180,00<small class="text-muted fw-light">/mês</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>4 horas de serviço por semana</li>
                                <li>2 profissionais</li>
                                <!--<li>Priority email support</li>
                                <li>Help center access</li>-->
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 text-white bg-primary border-primary">
                            <h4 class="my-0 fw-normal">Avançado</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">R$ 320,00<small class="text-muted fw-light">/mês</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>8 horas de serviço por semana</li>
                                <li>3 profissionais</li>
                                <!--<li>Phone and email support</li>
                                <li>Help center access</li>-->
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
                        </div>
                    </div>
                </div>
            </div>



            <h2 class="display-6 text-center mb-4">Compare plans</h2>

            <div class="table-responsive">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th style="width: 34%;"></th>
                            <th style="width: 22%;">Free</th>
                            <th style="width: 22%;">Pro</th>
                            <th style="width: 22%;">Enterprise</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-start">Public</th>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Private</th>
                            <td></td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"></use>
                                </svg>
                            </td>
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <th scope="row" class="text-start">Permissions</th>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"></use>
                                </svg></td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"></use>
                                </svg></td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"></use>
                                </svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Sharing</th>
                            <td></td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"></use>
                                </svg></td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"></use>
                                </svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Unlimited members</th>
                            <td></td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"></use>
                                </svg></td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"></use>
                                </svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Extra security</th>
                            <td></td>
                            <td></td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check"></use>
                                </svg></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>