<div class="page-animate">

    <section class="home-testimonial">
        <div class="testimonial-pos text-center inner-slide-animate-down mx-1">
            <img height="250" width="250" src="../../assets/images/logo_tudo_facil_branco.png" alt="Logo Tudo Fácil">
            <h1 class="mb-3">Planos Ofertados</h1>
            <h4>Saiba tudo sobre nossos planos disponíveis para assinatura</h4>
        </div>
        <section class="home-testimonial-bottom">
            <div class="container testimonial-inner">

                <div id="domesticos" class="body-site mb-5">
                    <div class="row text-center mb-4">
                        <div class="col-12 mb-4">
                            <img src="../../assets/images/icons/empregada_color.png" height="150" width="150">
                        </div>
                        <div class="col-12">
                            <h2>Pacote de serviços domésticos</h2>
                            <h5>Inclui limpeza, organização, lavanderia, passadoria, cozinha e jardinagem</h5>
                        </div>
                        <div class="col-12 mt-2">
                            <a class="btn btn-primary" routerLink="/servicos">Veja mais detalhes sobre os serviços</a>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="row row-cols-1 row-cols-lg-3 mb-0 text-center">
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Básico</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 100,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>2 horas de serviço por semana</li>
                                        <li>1 profissional</li>
                                        <!--<li>Email support</li>
                                        <li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-outline-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Intermediário</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 180,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>4 horas de serviço por semana</li>
                                        <li>2 profissionais</li>
                                        <!--<li>Priority email support</li>
                                        <li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                                <div class="card-header py-3 text-white bg-primary border-primary">
                                    <h4 class="my-0 fw-normal text-white">Avançado</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 320,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>8 horas de serviço por semana</li>
                                        <li>3 profissionais</li>
                                        <!--<li>Phone and email support</li>
                                        <li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div id="manutencao" class="body-site mb-5">
                    <div class="row text-center mb-4">
                        <div class="col-12 mb-4">
                            <img src="../../assets/images/icons/eletricista_color.png" height="150" width="150">
                        </div>
                        <div class="col-12">
                            <h2>Pacote de serviços de manutenção</h2>
                            <h5>Inclui reparos, instalações, pintura, elétrica, hidráulica, marcenaria e serralheria</h5>
                        </div>
                        <div class="col-12 mt-2">
                            <a class="btn btn-primary" routerLink="/servicos">Veja mais detalhes sobre os serviços</a>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="row row-cols-1 row-cols-lg-3 mb-0 text-center">
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Básico</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 80,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>1 visita por mês</li>
                                        <li>Até 2 horas de serviço</li>
                                        <li>Materiais básicos inclusos</li>
                                        <!--<li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-outline-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Intermediário</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 140,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>2 visitas por mês</li>
                                        <li>Até 4 horas de serviço</li>
                                        <li>Materiais intermediários inclusos</li>
                                        <!--<li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                                <div class="card-header py-3 text-white bg-primary border-primary">
                                    <h4 class="my-0 fw-normal text-white">Avançado</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 240,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>4 visitas por mês</li>
                                        <li>Até 8 horas de serviço</li>
                                        <li>Materiais avançados inclusos</li>
                                        <!--<li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div id="assistencia" class="body-site mb-5">
                    <div class="row text-center mb-4">
                        <div class="col-12 mb-4">
                            <img src="../../assets/images/icons/secretario_color.png" height="150" width="150">
                        </div>
                        <div class="col-12">
                            <h2>Pacote de serviços de assistência pessoal</h2>
                            <h5>Inclui compras, recados, entregas, reservas, agendamentos e pagamentos</h5>
                        </div>
                        <div class="col-12 mt-2">
                            <a class="btn btn-primary" routerLink="/servicos">Veja mais detalhes sobre os serviços</a>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="row row-cols-1 row-cols-lg-3 mb-0 text-center">
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Básico</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 50,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <p class="fs-6 fw-light">+ taxa de serviço</p>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Até 5 solicitações por mês</li>
                                        <li>Limite de R$ 500,00 por solicitação</li>
                                        <li>Taxa de serviço de 10%</li>
                                        <!--<li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-outline-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Intermediário</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 80,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <p class="fs-6 fw-light">+ taxa de serviço</p>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Até 10 solicitações por mês</li>
                                        <li>Limite de R$ 1.000,00 por solicitação</li>
                                        <li>Taxa de serviço de 8%</li>
                                        <!--<li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                                <div class="card-header py-3 text-white bg-primary border-primary">
                                    <h4 class="my-0 fw-normal text-white">Avançado</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 100,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <p class="fs-6 fw-light">+ taxa de serviço</p>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Até 20 solicitações por mês</li>
                                        <li>Limite de R$ 2.000,00 por solicitação</li>
                                        <li>Taxa de serviço de 5%</li>
                                        <!--<li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div id="apoio" class="body-site mb-5">
                    <div class="row text-center mb-4">
                        <div class="col-12 mb-4">
                            <img src="../../assets/images/icons/gerente_color.png" height="150" width="150">
                        </div>
                        <div class="col-12">
                            <h2>Pacote de serviços de apoio profissional</h2>
                            <h5>Inclui secretariado, contabilidade, administração, marketing, informática e tradução</h5>
                        </div>
                        <div class="col-12 mt-2">
                            <a class="btn btn-primary" routerLink="/servicos">Veja mais detalhes sobre os serviços</a>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="row row-cols-1 row-cols-lg-3 mb-0 text-center">
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Básico</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 500,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>5 horas de serviço por semana</li>
                                        <li>1 profissional por serviço</li>
                                        <!--<li>Email support</li>
                                        <li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-outline-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Intermediário</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 1.000,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>10 horas de serviço por semana</li>
                                        <li>2 profissionais por serviço</li>
                                        <!--<li>Priority email support</li>
                                        <li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                                <div class="card-header py-3 text-white bg-primary border-primary">
                                    <h4 class="my-0 fw-normal text-white">Avançado</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 2.000,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>20 horas de serviço por semana</li>
                                        <li>4 profissionais por serviço</li>
                                        <!--<li>Phone and email support</li>
                                        <li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div id="lazer" class="body-site mb-5">
                    <div class="row text-center mb-4">
                        <div class="col-12 mb-4">
                            <img src="../../assets/images/icons/fotografo_color.png" height="150" width="150">
                        </div>
                        <div class="col-12">
                            <h2>Pacote de serviços lazer e bem-estar</h2>
                            <h5>Inclui recreação, animação, música, fotografia, massagem e beleza</h5>
                        </div>
                        <div class="col-12 mt-2">
                            <a class="btn btn-primary" routerLink="/servicos">Veja mais detalhes sobre os serviços</a>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="row row-cols-1 row-cols-lg-3 mb-0 text-center">
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Básico</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 200,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>2 horas de serviço por semana</li>
                                        <li>1 visita mensal a um spa</li>
                                        <!--<li>Email support</li>
                                        <li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-outline-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Intermediário</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 350,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>4 horas de serviço por semana</li>
                                        <li>2 visitas mensais a um spa</li>
                                        <!--<li>Priority email support</li>
                                        <li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                                <div class="card-header py-3 text-white bg-primary border-primary">
                                    <h4 class="my-0 fw-normal text-white">Avançado</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 500,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>6 horas de serviço por semana</li>
                                        <li>4 visitas mensais a um spa</li>
                                        <!--<li>Phone and email support</li>
                                        <li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div id="idoso" class="body-site mb-5">
                    <div class="row text-center mb-4">
                        <div class="col-12 mb-4">
                            <img src="../../assets/images/icons/casal_color.png" height="150" width="150">
                        </div>
                        <div class="col-12">
                            <h2>Pacote de serviços para idosos</h2>
                            <h5>Inclui serviços de limpeza, organização, lavanderia, cozinha, compras, recados, entregas e agendamentos</h5>
                        </div>
                        <div class="col-12 mt-2">
                            <a class="btn btn-primary" routerLink="/servicos">Veja mais detalhes sobre os serviços</a>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="row row-cols-1 row-cols-lg-3 mb-0 text-center">
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Básico</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 120,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>2 horas de serviço por semana</li>
                                        <li>1 profissional</li>
                                        <!--<li>Email support</li>
                                        <li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-outline-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Intermediário</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 200,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>4 horas de serviço por semana</li>
                                        <li>2 profissionais</li>
                                        <!--<li>Priority email support</li>
                                        <li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                                <div class="card-header py-3 text-white bg-primary border-primary">
                                    <h4 class="my-0 fw-normal text-white">Avançado</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 360,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>8 horas de serviço por semana</li>
                                        <li>3 profissionais</li>
                                        <!--<li>Phone and email support</li>
                                        <li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div id="familia" class="body-site mb-5">
                    <div class="row text-center mb-4">
                        <div class="col-12 mb-4">
                            <img src="../../assets/images/icons/familia_color.png" height="150" width="150">
                        </div>
                        <div class="col-12">
                            <h2>Pacote de serviços para famílias</h2>
                            <h5>Inclui serviços de limpeza, organização, lavanderia, passadoria, cozinha, jardinagem, reparos e instalações</h5>
                        </div>
                        <div class="col-12 mt-2">
                            <a class="btn btn-primary" routerLink="/servicos">Veja mais detalhes sobre os serviços</a>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="row row-cols-1 row-cols-lg-3 mb-0 text-center">
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Básico</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 240,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>4 horas de serviço por semana</li>
                                        <li>2 profissionais</li>
                                        <!--<li>Email support</li>
                                        <li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-outline-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Intermediário</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 400,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>8 horas de serviço por semana</li>
                                        <li>3 profissionais</li>
                                        <!--<li>Priority email support</li>
                                        <li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                                <div class="card-header py-3 text-white bg-primary border-primary">
                                    <h4 class="my-0 fw-normal text-white">Avançado</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 720,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>16 horas de serviço por semana</li>
                                        <li>4 profissionais</li>
                                        <!--<li>Phone and email support</li>
                                        <li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div id="empresa" class="body-site mb-5">
                    <div class="row text-center mb-4">
                        <div class="col-12 mb-4">
                            <img src="../../assets/images/icons/companhia_color.png" height="150" width="150">
                        </div>
                        <div class="col-12">
                            <h2>Pacote de serviços para empresas</h2>
                            <h5>Inclui serviços de limpeza, organização, entregas, reservas, agendamentos, pagamentos, contabilidade e administração</h5>
                        </div>
                        <div class="col-12 mt-2">
                            <a class="btn btn-primary" routerLink="/servicos">Veja mais detalhes sobre os serviços</a>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="row row-cols-1 row-cols-lg-3 mb-0 text-center">
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Básico</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 800,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <p class="fs-6 fw-light">+ taxa de serviço</p>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>10 horas de serviço por semana</li>
                                        <li>2 profissionais</li>
                                        <!--<li>Email support</li>
                                        <li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-outline-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">Intermediário</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 1.400,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <p class="fs-6 fw-light">+ taxa de serviço</p>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>20 horas de serviço por semana</li>
                                        <li>4 profissionais</li>
                                        <!--<li>Priority email support</li>
                                        <li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                                <div class="card-header py-3 text-white bg-primary border-primary">
                                    <h4 class="my-0 fw-normal text-white">Avançado</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">R$ 2.400,00<small
                                            class="text-muted fw-light">/mês</small>
                                    </h1>
                                    <p class="fs-6 fw-light">+ taxa de serviço</p>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>40 horas de serviço por semana</li>
                                        <li>8 profissionais</li>
                                        <!--<li>Phone and email support</li>
                                        <li>Help center access</li>-->
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-primary"
                                        routerLink="/fale-conosco">Entre em contato</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>