<div class="page-animate">

    <section class="home-testimonial">
        <div class="testimonial-pos text-center inner-slide-animate-down mx-1">
            <img height="250" width="250" src="../../assets/images/logo_tudo_facil_branco.png" alt="Logo Tudo Fácil">
            <h1 class="mb-3">Serviços Disponíveis</h1>
            <h4>Conheça os nossos serviços prestados</h4>
        </div>
        <section class="home-testimonial-bottom">
            <div class="container testimonial-inner">

                <div id="domesticos" class="body-site p-5 mb-5">
                    <div class="row mb-4 align-items-center">
                        <div class="col-12 col-lg-4 mb-4 text-center">
                            <img class="w-50" src="../../assets/images/icons/empregada_color.png">
                        </div>
                        <div class="col-12 col-lg-8 text-center">
                            <p class="h1">Soluções para o seu lar</p>
                            <p class="h4">Nós oferecemos uma variedade de serviços domésticos para atender às suas
                                necessidades</p>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="row">
                        <div class="col-12">
                            <blockquote class="blockquote">
                                <p>Os <strong>serviços domésticos</strong> incluem limpeza, organização, lavanderia,
                                    passadoria, cozinha e jardinagem. Os profissionais da Tudo Fácil deixam a casa do
                                    cliente brilhando e cheirosa, fazem a lavanderia, passam as roupas e cozinham
                                    deliciosas refeições. Eles também cuidam do jardim, podando as plantas, regando as
                                    flores e cortando a grama.
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>

                <div id="manutencao" class="body-site p-5 mb-5">
                    <div class="row mb-4 align-items-center">
                        <div class="col-12 col-lg-4 mb-4 text-center order-lg-2">
                            <img class="w-50" src="../../assets/images/icons/eletricista_color.png">
                        </div>
                        <div class="col-12 col-lg-8 order-lg-1 text-center">
                            <p class="h1">Serviços de manutenção com confiança</p>
                            <p class="h4">Nós temos a experiência e a qualidade que você precisa</p>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="row">
                        <div class="col-12">
                            <blockquote class="blockquote">
                                <p>Os <strong>serviços de manutenção</strong> incluem reparos, instalações, pintura,
                                    elétrica, hidráulica, marcenaria e serralheria. Os profissionais da Tudo Fácil fazem
                                    todos os tipos de reparos e instalações que o cliente precisa, com qualidade e
                                    rapidez. Eles também fornecem os materiais necessários e cobram um preço justo.
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>

                <div id="assistencia" class="body-site p-5 mb-5">
                    <div class="row mb-4 align-items-center">
                        <div class="col-12 col-lg-4 mb-4 text-center">
                            <img class="w-50" src="../../assets/images/icons/secretario_color.png">
                        </div>
                        <div class="col-12 col-lg-8 text-center">
                            <p class="h1">Você no controle da sua vida</p>
                            <p class="h4">Nós cuidamos das suas tarefas para que você possa se dedicar ao que realmente
                                importa</p>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="row">
                        <div class="col-12">
                            <blockquote class="blockquote">
                                <p>Os <strong>serviços de assistência pessoal</strong> incluem compras, recados,
                                    entregas, reservas, agendamentos e pagamentos. Os profissionais da Tudo Fácil ajudam
                                    o cliente a fazer as compras que ele precisa, a levar ou buscar documentos ou
                                    encomendas, a fazer reservas em restaurantes ou hotéis, a agendar consultas médicas
                                    ou serviços diversos e a pagar as contas em dia. Eles são eficientes e confiáveis.
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>

                <div id="apoio" class="body-site p-5 mb-5">
                    <div class="row mb-4 align-items-center">
                        <div class="col-12 col-lg-4 mb-4 text-center order-lg-2">
                            <img class="w-50" src="../../assets/images/icons/gerente_color.png">
                        </div>
                        <div class="col-12 col-lg-8 order-lg-1 text-center">
                            <p class="h1">Apoio profissional que facilita o seu trabalho</p>
                            <p class="h4">Nós cuidamos dos detalhes para que você possa focar no essencial</p>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="row">
                        <div class="col-12">
                            <blockquote class="blockquote">
                                <p>Os <strong>serviços de apoio profissional</strong> incluem contabilidade,
                                    administração, marketing e consultoria. Os profissionais da Tudo Fácil ajudam o
                                    cliente a cuidar do seu negócio, fazendo a contabilidade, a administração, o
                                    marketing e a consultoria que ele precisa. Eles são competentes e responsáveis.
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>

                <div id="lazer" class="body-site p-5 mb-5">
                    <div class="row mb-4 align-items-center">
                        <div class="col-12 col-lg-4 mb-4 text-center">
                            <img class="w-50" src="../../assets/images/icons/fotografo_color.png">
                        </div>
                        <div class="col-12 col-lg-8 text-center">
                            <p class="h1">Lazer e bem-estar que fazem a diferença</p>
                            <p class="h4">Nós proporcionamos momentos de alegria, paz e harmonia para o seu dia a dia
                            </p>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="row">
                        <div class="col-12">
                            <blockquote class="blockquote">
                                <p>Os <strong>serviços de lazer e bem-estar</strong> incluem passeios turísticos,
                                    eventos culturais, esportes e hobbies, além de massagem, yoga, meditação e terapia.
                                    Os profissionais da Tudo Fácil ajudam o cliente a aproveitar o seu tempo livre,
                                    organizando passeios turísticos pela cidade ou pelo campo, levando-o a eventos
                                    culturais como shows, teatros ou cinemas, praticando esportes como futebol, tênis ou
                                    natação ou ensinando hobbies como música, pintura ou fotografia. Eles também ajudam
                                    o cliente a cuidar da sua saúde física e mental, oferecendo massagens relaxantes ou
                                    terapêuticas, aulas de yoga ou pilates, sessões de meditação ou mindfulness e
                                    terapias individuais ou em grupo. Eles são divertidos, simpáticos, gentis e
                                    acolhedores.
                                </p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>